/* color de dondo*/
body {

  background-image: url("../imagenes/fondo.jpg");

}
/* titulo */
.contenido{
	width: 75%;
  float: right;
  padding: 15px;
}
.container{
	width: 75%;
  float: right;
  padding: 15px;
}
.header {
  
  padding: 15px;
}
h1 {
	text-align: center;
	color: tomato;
}

h2
{
	text-align: center;
}
h3{
	text-align: center;
	font: oblique bold 120% cursive;
}
ul{
	 font-family: sans-serif;
  font-size: 110%;
  font-style: oblique;
}
#image{
	margin: auto;
	display: block;
	border-style: solid;
}

#tabla{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#tabla th, #tabla td {
  border: 1px solid #ddd;
  padding: 8px;

}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #939584;
  color: white;
}
.menu{
   
  padding: 12px;
  width: 21%;
  background-color: rgb(229, 232, 232,0.5) ;
  position: fixed;
  overflow: all;
  height: 100%;
  margin: 0;
}

li a {
  display: block;
  color: #000;
  padding: 8px 15px;
  text-decoration: none;
}

li a.activo {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.activo) {
  background-color: #555;
  color: white;
}
.container{
	 
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=email]{

  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: rgba(229,232,232,0.5);
  padding: 20px;
}

.col-25 {
  float: left;
  width: 18%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 56%;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

}

